
WWT_FacTest/.vs/WWT_FacTest/v15/.suo
WWT_FacTest/.vs/WWT_FacTest/v15/.suoWWT_FacTest/WWT_FacTest/obj/Debug/WWT_FacTest.UserConfirm.resources
*.ide-wal
*.ide-shm
*.ide
WWT_FacTest/.vs/WWT_FacTest/v15/.suo
WWT_FacTest/.vs/WWT_FacTest/v15/.suo
